# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MemoryPool/MemoryPool/.vs/MemoryPool/FileContentIndex/3807c095-a66a-4f7e-9d7d-6122e24ef01a.vsidx
MemoryPool/MemoryPool/.vs/MemoryPool/FileContentIndex/3e7ecb96-cba2-4787-8f5f-3a926c3ce8e7.vsidx
MemoryPool/MemoryPool/.vs/MemoryPool/FileContentIndex/4bae6749-4d2a-4b52-bb3d-faea06d698bd.vsidx
MemoryPool/MemoryPool/.vs/MemoryPool/FileContentIndex/5351867d-189a-41ec-bbe7-ef839ab8f17e.vsidx
MemoryPool/MemoryPool/.vs/MemoryPool/FileContentIndex/ca8fe264-380b-4915-bb9f-60fc9329673a.vsidx
MemoryPool/MemoryPool/.vs/MemoryPool/v17/.suo
MemoryPool/MemoryPool/.vs/MemoryPool/v17/Browse.VC.db
MemoryPool/MemoryPool/.vs/MemoryPool/v17/Browse.VC.db-shm
MemoryPool/MemoryPool/.vs/MemoryPool/v17/Browse.VC.db-wal
MemoryPool/MemoryPool/.vs/MemoryPool/v17/Browse.VC.opendb
MemoryPool/MemoryPool/.vs/MemoryPool/v17/DocumentLayout.backup.json
MemoryPool/MemoryPool/.vs/MemoryPool/v17/DocumentLayout.json
MemoryPool/MemoryPool/.vs/MemoryPool/v17/Solution.VC.db
MemoryPool/MemoryPool/.vs/MemoryPool/v17/Solution.VC.db-shm
MemoryPool/MemoryPool/.vs/MemoryPool/v17/Solution.VC.db-wal
MemoryPool/MemoryPool/.vs/MemoryPool/v17/ipch/e8467cede1320666.ipch
MemoryPool/MemoryPool/.vs/MemoryPool/v17/ipch/AutoPCH/35bf5650a8157893/POOLCONFIG.ipch
MemoryPool/MemoryPool/.vs/MemoryPool/v17/ipch/AutoPCH/4923fa3d0dc76bae/A.ipch
MemoryPool/MemoryPool/.vs/MemoryPool/v17/ipch/AutoPCH/627dbb3d1bf58e4f/B.ipch
MemoryPool/MemoryPool/.vs/MemoryPool/v17/ipch/AutoPCH/6310eab41fe9d46/MEMORYPOOL.ipch
MemoryPool/MemoryPool/.vs/MemoryPool/v17/ipch/AutoPCH/6ae26b9e4e780c98/MEMORYPOOLCONFIG.ipch
MemoryPool/MemoryPool/.vs/MemoryPool/v17/ipch/AutoPCH/a15b09e23e4d3381/MEMORYPOOLTYPES.H.ipch
MemoryPool/MemoryPool/.vs/MemoryPool/v17/ipch/AutoPCH/ff3e97dd94500f77/MAIN.ipch
MemoryPool/MemoryPool/x64/Debug/MemoryPool.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/.signature.p7s
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/license (MIT).txt
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7.nupkg
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/ThirdPartyNotices.txt
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.targets
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1028/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1029/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1031/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1033/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1034/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1036/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1040/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1041/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1042/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1045/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1046/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1049/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1055/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/2052/googletest.propertiesui.xml
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest_pred_impl.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest_prod.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-death-test.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-message.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-param-test.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-param-test.h.pump
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-printers.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-spi.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-test-part.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-typed-test.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-death-test-internal.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-filepath.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-internal.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-linked_ptr.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-param-util.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-param-util-generated.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-param-util-generated.h.pump
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-port.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-port-arch.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-string.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-tuple.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-tuple.h.pump
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-type-util.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-type-util.h.pump
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/custom/gtest.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/custom/gtest-port.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/custom/gtest-printers.h
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/custom/README.md
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Debug/gtest.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Debug/gtest_main.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Release/gtest.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Release/gtest_main.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Debug/gtest.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Debug/gtest_main.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Release/gtest.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Release/gtest_main.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_main.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_main.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.pdb
MemoryPool/MemoryPool/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.pdb
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.Build.CppClean.log
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.exe.recipe
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.ilk
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.log
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.vcxproj.FileListAbsolute.txt
MemoryPool/MemoryPool/MemoryPool/x64/Debug/vc143.idb
MemoryPool/MemoryPool/MemoryPool/x64/Debug/vc143.pdb
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/CL.command.1.tlog
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/Cl.items.tlog
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/CL.read.1.tlog
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/CL.write.1.tlog
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/link.command.1.tlog
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/link.read.1.tlog
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/link.secondary.1.tlog
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/link.write.1.tlog
MemoryPool/MemoryPool/MemoryPool/x64/Debug/MemoryPool.tlog/MemoryPool.lastbuildstate
MemoryPool/MemoryPool/.vs/MemoryPool/FileContentIndex/afd1d751-565b-4baa-9439-a654c2172da9.vsidx
